@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ant Design 与页面基础重置 */
:root,
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-neutral-900 dark:text-gray-100;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

